@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro&display=swap");

body {
  background: #455a64;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-size: 12px;
}
.container {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: auto;
  margin-top: 2rem;

}
.avatar {
  font-size: 100px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  margin: auto;
}
.card {
  background: #ececec;
  border-radius: 0.2rem;
  padding: 0.2rem;
  transition: 0.2s;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
  margin: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 250px;
  height: 100%;
}
.card-front {
  font-size: 10rem;
  font-weight: 900;
  text-shadow: 0px 0px 15px black;
  color: white;
  background: #455a64;
  height: 100%;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content: center;
  display: flex;
}
.card-title {
  grid-area: "header";
  background: #fff;
  display: flex;
  border-top-left-radius: 5px;
  margin: 0px;
  box-shadow: inset 1px 2px 3px 2px #00000038;
  text-shadow: 5px 5px 5px #000000a6;
  cursor: default;
}
.card-btn_close {
  cursor: pointer;
  padding: 4px;
  font-size: 0.9rem;
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 2;
}
.card-stats {
  grid-area: "stats";
  display: grid;
  font-size: 0.7rem;
  background: #e0e9ee;
}
.stat-row {
  border: 1px solid #cccccc;
  padding: 0.3rem;
}
.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "stats";
  grid-gap: 0px;
}
.type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.value {
  font-family: "Roboto Mono", monospace;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
}
.answersList li {
  display: inline-block;
  margin: 2px;
  padding: 3px;
  background: white;
  border-radius: 4px;
  vertical-align: bottom;
  box-shadow: 2px 2px 2px 0px #0003;
  cursor: default;
}
.answersList li:first-child {
  transition: opacity 400ms;
}
.cards ul {
  font-family: "Roboto Mono", monospace;
  background: #fff;
  padding: 6px;
  margin: 0px;
  box-shadow: inset 1px 2px 3px 2px #00000038;
}

.rules ul {
  font-family: "Roboto Mono", monospace;
  background: #cccccc;
  padding: 6px;
  margin: 0px;
}
.card-content {
  font-family: "Roboto Mono", monospace;
  align-content: center;
}
progress {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background: #cccccc;
  padding: 0px;
  margin: 0px;
  height: 20px;
}
.rules,
.footer {
  background: white;
  border-radius: 0.2rem;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  max-width: 50%;
  min-width: 470px;
}

.rules h2 {
	color: #005f56;
	font-family: "Source Sans Pro", sans-serif;
	text-transform: capitalize;
	text-align: left;
	float: left;
	margin: 1rem;
}

.rules-title {
	background: #cfd8dc6e;
	display: flex;
	width: 108%;
	justify-content: space-between;
	margin-top: -1.5rem;
	margin-left: -1.4rem;
	line-height: 1rem;
	max-width: 135%;
  box-shadow: 1px 2px 3px #00000054;
}

div:empty {
  display: none;
}
ul:empty {
  display: none;
}
#errors {
  color: #ff0202;
  font-size: 2rem;
  font-weight: bold;
}
form {
  font-size: 0;
  margin: 0px;
  padding: 0px;
  align-content: center;
  vertical-align: bottom;
  display: flex;
}
.game {
  background: white;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  align-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.5rem;
  margin: auto;
}
.buttonGrp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  margin: 0px;
  border: 0px;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid grey;
  text-transform: uppercase;
}
.buttonGrp:first-child:not(:only-child) {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 2rem;
}
.buttonGrp:last-child:not(:only-child) {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-right: 1px solid grey;
  width: 2rem;
}
.buttonGrp:hover {
  background-color: #009688;
  color: white;
  cursor: pointer;
}
.buttonGrp:disabled {
  color: #b8b8b8;
  cursor: not-allowed;
}
.buttonGrp:hover:disabled {
  background-color: #b8b8b8;
  cursor: not-allowed;
  color: #666;
}

input {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
  height: auto;
  width: 4rem;
  padding: 1px;
  margin: 0px;
  background: white;
  border: 0px solid #ffffff;
  -moz-appearance: textfield;
  -webkit-box-shadow: inset 1px 2px 3px 2px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 1px 2px 3px 2px rgba(0,0,0,0.26);
  box-shadow: inset 1px 2px 3px 2px #00000038;
  outline: none;
}
input::-webkit-inner-spin-button {
  display: none;
}
input::placeholder {
  color: #f2f2f2;
  opacity: 0.7;
}

input:not([disabled]) {
  background: #009688;
  color: #009688;
}

input:disabled {
  color: #009688;
  cursor: not-allowed;
  border-bottom: 0px solid grey;
}
input:focus {
  background: white;
  border-bottom: 0px solid grey;
}

.lastElement {
  font-weight: 600;
  border: 3px solid #7e8dc800;
}

.correctElement {
  color: white;
  background-color: #009688 !important;
}

.wrongElement {
  background-color: #ec9494 !important;
}
.btnRestart {
	cursor: pointer;
	font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
	z-index: 2;
	width: 3rem;
	height: 3rem;
	border: 0px;
  border-radius: 0.2rem;
  background: transparent;
  border-left: 1px solid white;
  text-shadow: 0px 0px 6px black;
  color: #fff;
}
.btnRestart:hover {
  background: #005f56;
  color: white;
}
