<div class="card">
      
    <div class="card-header">
      <div class="card-title">&#128373</div>
      <div class="card-stats">
        <div class="stat-row">
          <div class="type">всего:</div>
          <div class="value">20</div>
        </div>          
        <div class="stat-row">
          <div class="type">правильных:</div>
          <div class="value">10</div>
        </div>
        <div class="stat-row">
          <div class="type">достоверность:</div>
          <div class="value">50%</div>
        </div>
      </div>
    </div>
    
    <div class="card-content">
      
      <ul class="answersList">
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
        <li>87</li>
        <li>36</li>
        <li>31</li>
        <li>87</li>
        <li>36</li>
        <li>31</li>
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>          
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>          
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>          
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
      </ul>
      <ul class="answersList">
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
        <li>87</li>
        <li>36</li>
        <li>31</li>
        <li>87</li>
        <li>36</li>
        <li>31</li>
        <li>65</li>
        <li>95</li>
        <li>34</li>
        <li>44</li>
        <li>37</li>
        <li>47</li>
      </ul>
    </div>
    
    <div class="card-footer"><progress val="10" max="20"></progress></div>
    
  </div>