<!doctype html>
<html lang="ru">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?{{time}}">

<title>Тестирование экстрасенсов</title>

</head>

<body>

<div class="container">

    <div class="rules">
        <div class="rules-title"><h2>Тестирование экстрасенсов</h2><a href="{{ url_for('restartgame') }}"><button class="btnRestart">&#8635;</button></a></div>
        <p>Предлагаем принять участие в тестировании экстрасенсов.</p>
        <ol>
            <li>Загадайте двузначное число и подтвердите кнопкой, что вы его загадали</li>
            <li>Посмотрите догадается ли кто-то из участников и отправьте им загаданное число</li>
        </ol>

        <div class="list_values" id="correct_answers" >
            <p style="display:none">Мои числа:</p>
            <ul class="answersList" data-type="correct-answers"></ul>
        </div>
    </div>

    <div class="game">
        <form method="POST" onsubmit="return false">
            <button id="btnDelPlayer" class="buttonGrp" title="Удалить игрока">-</button>
            <input type="hidden" id="start" value="1">
            <button id="btnStartGame" class="buttonGrp">Загадать</button>
            <input class="correctAnswer"
                    placeholder="00"
                    id="inputCorrectAnswer"
                    min="10"
                    max="99"
                    step="1"
                    type="number">
            <button id="btnCorrectAnswer" class="buttonGrp">Отправить</button>
            <button id="btnAddPlayer" class="buttonGrp" title="Добавить игрока">+</button>
        </form>
    </div>

    <div class="cards"></div>

    <div class="footer" id="errors"></div>

</div>

<template id="player">
    <div class="card" data-player="1" data-type="playerCard">
        <div class="card-header">
            <div class="card-title"><span class="avatar"></span></div>
            <div class="card-stats"  data-type="statistic">
                <div class="stat-row">
                    <div class="type">всего догадок:</div>
                    <div class="value" data-type="statistic" data-stat-total=""></div>
                </div>
                <div class="stat-row">
                    <div class="type">правильных:</div>
                    <div class="value" data-type="statistic" data-stat-true=""></div>
                </div>
                <div class="stat-row">
                    <div class="type">достоверность:</div>
                    <div class="value" data-type="statistic" data-stat-score=""></div>
                </div>
            </div>
        </div>
        <div class="card-content" style="display:none" data-type="content">
            <p style="display:none">Предположения:</p>
            <ul class="answersList" data-type="valuesList"></ul>
            <p style="display:none">Правильные ответы:</p>
            <ul class="answersList" style="display:none" data-type="correctList"></ul>
        </div>
        <div class="card-footer" style="display:none" data-type="statistic" data-stat-total="" data-stat-true=""><hr><progress></progress></div>
    </div>
</template>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/main.js') }}?{{time}}"></script>

</body>

</html>